[MESSAGES CONTROL]

disable=
    fixme,
    line-too-long,
    wrong-import-order,
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    invalid-name,
    too-many-arguments,
    too-few-public-methods,
    too-many-locals,
    assignment-from-no-return,  # Happens because of bpy stubs layout lack return statements
